.rbenv-version
.ruby-version
.bundle
Procfile.dev
db/*.sqlite3
log/*.log
tmp/**/*
tmp
.ackrc
.rvmrc
config/database.yml
config/mongoid.yml
public/cache/
public/stylesheets/compiled/
public/system/*
tmp/restart.txt
.DS_Store
*.dump

*.swp
*.swo
vendor/build_info/
vendor/bundler/
vendor/cache/
vendor/gems/
vendor/specifications/
.env
.sass-cache
node_modules/
npm-debug.log
/app/assets/javascripts/*.bundle.js
/app/assets/javascripts/*.bundle.js.map
